:root {
	--body: #212121;
	--container-dark: #404040;
	--container-light: #606060;
	--p-text: #D3D3D3;
	--box-shadow: #808080;
	--title: whitesmoke;
	--hyperlink: #BEBEBE;
	--reviewButtonBackground: #00C851;
}

html * {
	font-family: 'Roboto', sans-serif;
}

.btn-primary {
	width: 60%;
	margin: auto auto 7%;
}

.card {
	width: auto;
	margin: 0 auto;
	background-color: var(--container-light);
}

.card-title {
	color: var(--title);
}

.card-text {
	color: var(--p-text) !important;
}

.cardContainer {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	width: 18vw;
	background-color: var(--container-dark);
	overflow: auto;
	float: left;
}

.navbar {
	background-color: var(--container-dark) !important;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: 0 0 5px 5px #808080;
}

#review {
	width: 100%;
}

.reviewTextContainer {
	float: left;
	background-color: var(--container-light);
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	display: inline-block;
	width: 75%;
}

.textContainer {
	float: left;
	margin: 1% 1% 1% 1%;
	background-color: var(--container-dark);
	padding: 1% 1% 1% 1%;
	display: inline-block;
}

.reviewImageContainer {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	width: 20%;
	background-color: var(--container-light);
	float: left;
}

.reviewImage {
	width: 100%;
	height: auto;
	float: left;
}

#gameBlurb {
	float: left;
	width: auto;
	font-size: 1.3em;
}

#reviewText {
	float: left;
	clear: left;
	font-size: 1.3em;
}

.row {
	margin: 0 auto;
	align: centre;
}

.container {
	margin-left: auto;
	margin-right: auto;
	align: centre;
}

p {
	color: var(--p-text);
}

h1 {
	padding-top: 1%;
	width: 100vw;
	text-align: center;
	color: var(--title);
}

.nav-item {
	background-color: transparent !important;
}

.container-fluid {
	margin-top: 1vh;
	width: auto;
	background-color: var(--body);
}

body {
	overflow-x: hidden;
	background-color: var(--body) !important;
}

#changeStyleButton {
	padding: 1% 1% 1% 1%;
	margin: 1% 1% 1% 1%;
}

#reviewButton {
	background-color: var(--reviewButtonBackground) !important;
}

.footerContainer {
	padding: 0;
	width: 98%;
	float: left;
	height: 10%;
	background-color: var(--container-dark);
	height: 10vh;
	margin: 1%;
	box-shadow: 0 0 5px 5px var(--box-shadow);
}

.footerContent {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--container-dark);
	display: flex;
	align-items: center;
}

.footerImageContainer {
	margin: 0;
	padding: 1% 1% 1% 1%;
}

#mmuLogo {
	margin: 0;
	padding: 1% 1% 1% 1%;
	height: 100%;
	width: auto;
	float: left;
	align-self: center;
}

.gitHubContainer {
	float: left;
	margin: 0;
	background-color: var(--container-light);
	padding: 1% 1% 1% 1%;
}

#gitHubLink {
	width: 100%;
}

#gitHubLink, #gitHubLink:active, #gitHubLink:focus, #gitHubLink:visited {
	color: var(--p-text);
}

#gitHubLink:hover {
	color: var(--hyperlink);
}
