:root {
	--body-light: white;
	--container-outer-light: #404040;
	--container-inner-light: #606060;
	--p-text-light: black;
	--box-shadow-light: #808080;
	--title-light: black;
}

html * {
	font-family: 'Roboto', sans-serif;
}

.btn-primary {
	width: 60%;
	margin: auto auto 7%;
}

.card {
	width: 18rem;
	background-color: var(--container-inner-light);
}

.card-title {
	color: var(--title-light);
}

.card-text {
	color: var(--p-text-light) !important;
}

.backgroundContainer {
	margin: 0.5% 0.5% 0.5% 0.5%;
	padding: 1% 1% 1% 1%;
	width: auto;
	background-color: var(--container-outer-light);
	overflow: auto;
	float: left;
}

.navbar {
	background-color: var(--container-outer-light) !important;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: 0 0 5px 5px #808080;
}

.reviewData {
	float: left;
}

#reviewImageContainer {
	margin-left: 1%;
}

#gameBlurb {
	clear: right;
	width: auto;
	display: block;
}

#reviewText {
	float: left;
	width: auto;
	display: block;
}

.row {
	margin: 0 auto;
	align: centre;
}

.container {
	margin-left: auto;
	margin-right: auto;
	align: centre;
}

p {
	color: var(--p-text-light);
}

h1 {
	padding-top: 1%;
	width: 100vw;
	text-align: center;
	color: var(--title-light);
}

.reviewImage {
	max-width: 20vw;
	float: left;
}

.nav-item {
	background-color: transparent !important;
}

.container-fluid {
	margin-top: 1vh;
	width: auto;
	background-color: var(--body-light);
}

body {
	overflow-x: hidden;
	background-color: var(--body-light) !important;
}

#footerContainer {
	padding: 0;
	width: 98%;
	float: left;
	background-color: var(--container-outer-light);
	height: 10vh;
	margin: 1%;
	box-shadow: 0 0 5px 5px var(--box-shadow-light);
}

#mmuLogo {
	padding: 0.5% 0.5% 0.5% 0.5%;
	height: 100%;
	width: auto;
	float: left;
}

#gitHubContainer {
	padding: 1% 1% 1% 1%;
	margin-top: 1.35%;
	margin-bottom: 1%;
	background-color: var(--container-inner-light);
}

#gitHubLink {
	color: var(--p-text-light);
}
